.header {
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding: 20px 0;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 1111;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 32px;
  font-weight: bold;
}

.logo a {
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
}

li {
  margin-right: 20px;
}

li a {
  color: white;
  padding: 20px;
}

.active {
  border-bottom: 1px solid white;
}
