textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  line-height: 1.5;
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #dee2e6;
  resize: none;
  outline: none;
  margin-bottom: 16px;
}
